#all{width: 1240px;height: 940px;}
#bks{width: 1240px;height: 20px;float: left;background-image: url(../image/bks.jpg)}
#bkz{width: 20px;height: 900px;float: left;background-image: url(../image/bkz.jpg)}
#map{ width: 900px; height: 900px;float: left;}
#menu{width: 300px; height: 900px; float: left;}
#bkr{width: 20px;height: 900px;float: left;background-image: url(../image/bkr.jpg)}
#bkx{width: 1240px;height: 20px;float: left;background-image: url(../image/bkx.jpg)}
#tishiall{width: 300px;height: 200px;float: left;background-image: url(../image/1.jpg);}
#tishi0{width: 300px;height: 80px;float: left;}
#z2{color: chartreuse}
#tishi{width: 300px; height: 120px;float: left;}
#syball{width: 300px;height: 700px;float: left;background-image: url(../image/0.jpg);}
#syb0{width: 300px;height: 80px;float: left;}
#z1{color: orangered}
#syb{width: 300px;height: 140px;float: left;}
#huiqi{width: 300px;height: 480px;float: left;}
#hq{width: 100px;height: 40px;margin-left:30px;}
#z3{font-family: monospace;font-size:30px;}

#a{width: 900px;height: 60px}
#b{width: 900px;height: 60px}
#c{width: 900px;height: 60px}
#d{width: 900px;height: 60px}
#e{width: 900px;height: 60px}
#f{width: 900px;height: 60px}
#g{width: 900px;height: 60px}
#h{width: 900px;height: 60px}
#i{width: 900px;height: 60px}
#j{width: 900px;height: 60px}
#k{width: 900px;height: 60px}
#l{width: 900px;height: 60px}
#m{width: 900px;height: 60px}
#n{width: 900px;height: 60px}
#o{width: 900px;height: 60px}

#a1{width: 60px;height: 60px;float: left;}
#a2{width: 60px;height: 60px;float: left;}
#a3{width: 60px;height: 60px;float: left;}
#a4{width: 60px;height: 60px;float: left;}
#a5{width: 60px;height: 60px;float: left;}
#a6{width: 60px;height: 60px;float: left;}
#a7{width: 60px;height: 60px;float: left;}
#a8{width: 60px;height: 60px;float: left;}
#a9{width: 60px;height: 60px;float: left;}
#a10{width: 60px;height: 60px;float: left;}
#a11{width: 60px;height: 60px;float: left;}
#a12{width: 60px;height: 60px;float: left;}
#a13{width: 60px;height: 60px;float: left;}
#a14{width: 60px;height: 60px;float: left;}
#a15{width: 60px;height: 60px;float: left;}

#b1{width: 60px;height: 60px;float: left;}
#b2{width: 60px;height: 60px;float: left;}
#b3{width: 60px;height: 60px;float: left;}
#b4{width: 60px;height: 60px;float: left;}
#b5{width: 60px;height: 60px;float: left;}
#b6{width: 60px;height: 60px;float: left;}
#b7{width: 60px;height: 60px;float: left;}
#b8{width: 60px;height: 60px;float: left;}
#b9{width: 60px;height: 60px;float: left;}
#b10{width: 60px;height: 60px;float: left;}
#b11{width: 60px;height: 60px;float: left;}
#b12{width: 60px;height: 60px;float: left;}
#b13{width: 60px;height: 60px;float: left;}
#b14{width: 60px;height: 60px;float: left;}
#b15{width: 60px;height: 60px;float: left;}

#c1{width: 60px;height: 60px;float: left;}
#c2{width: 60px;height: 60px;float: left;}
#c3{width: 60px;height: 60px;float: left;}
#c4{width: 60px;height: 60px;float: left;}
#c5{width: 60px;height: 60px;float: left;}
#c6{width: 60px;height: 60px;float: left;}
#c7{width: 60px;height: 60px;float: left;}
#c8{width: 60px;height: 60px;float: left;}
#c9{width: 60px;height: 60px;float: left;}
#c10{width: 60px;height: 60px;float: left;}
#c11{width: 60px;height: 60px;float: left;}
#c12{width: 60px;height: 60px;float: left;}
#c13{width: 60px;height: 60px;float: left;}
#c14{width: 60px;height: 60px;float: left;}
#c15{width: 60px;height: 60px;float: left;}

#d1{width: 60px;height: 60px;float: left;}
#d2{width: 60px;height: 60px;float: left;}
#d3{width: 60px;height: 60px;float: left;}
#d4{width: 60px;height: 60px;float: left;}
#d5{width: 60px;height: 60px;float: left;}
#d6{width: 60px;height: 60px;float: left;}
#d7{width: 60px;height: 60px;float: left;}
#d8{width: 60px;height: 60px;float: left;}
#d9{width: 60px;height: 60px;float: left;}
#d10{width: 60px;height: 60px;float: left;}
#d11{width: 60px;height: 60px;float: left;}
#d12{width: 60px;height: 60px;float: left;}
#d13{width: 60px;height: 60px;float: left;}
#d14{width: 60px;height: 60px;float: left;}
#d15{width: 60px;height: 60px;float: left;}

#e1{width: 60px;height: 60px;float: left;}
#e2{width: 60px;height: 60px;float: left;}
#e3{width: 60px;height: 60px;float: left;}
#e4{width: 60px;height: 60px;float: left;}
#e5{width: 60px;height: 60px;float: left;}
#e6{width: 60px;height: 60px;float: left;}
#e7{width: 60px;height: 60px;float: left;}
#e8{width: 60px;height: 60px;float: left;}
#e9{width: 60px;height: 60px;float: left;}
#e10{width: 60px;height: 60px;float: left;}
#e11{width: 60px;height: 60px;float: left;}
#e12{width: 60px;height: 60px;float: left;}
#e13{width: 60px;height: 60px;float: left;}
#e14{width: 60px;height: 60px;float: left;}
#e15{width: 60px;height: 60px;float: left;}

#f1{width: 60px;height: 60px;float: left;}
#f2{width: 60px;height: 60px;float: left;}
#f3{width: 60px;height: 60px;float: left;}
#f4{width: 60px;height: 60px;float: left;}
#f5{width: 60px;height: 60px;float: left;}
#f6{width: 60px;height: 60px;float: left;}
#f7{width: 60px;height: 60px;float: left;}
#f8{width: 60px;height: 60px;float: left;}
#f9{width: 60px;height: 60px;float: left;}
#f10{width: 60px;height: 60px;float: left;}
#f11{width: 60px;height: 60px;float: left;}
#f12{width: 60px;height: 60px;float: left;}
#f13{width: 60px;height: 60px;float: left;}
#f14{width: 60px;height: 60px;float: left;}
#f15{width: 60px;height: 60px;float: left;}

#g1{width: 60px;height: 60px;float: left;}
#g2{width: 60px;height: 60px;float: left;}
#g3{width: 60px;height: 60px;float: left;}
#g4{width: 60px;height: 60px;float: left;}
#g5{width: 60px;height: 60px;float: left;}
#g6{width: 60px;height: 60px;float: left;}
#g7{width: 60px;height: 60px;float: left;}
#g8{width: 60px;height: 60px;float: left;}
#g9{width: 60px;height: 60px;float: left;}
#g10{width: 60px;height: 60px;float: left;}
#g11{width: 60px;height: 60px;float: left;}
#g12{width: 60px;height: 60px;float: left;}
#g13{width: 60px;height: 60px;float: left;}
#g14{width: 60px;height: 60px;float: left;}
#g15{width: 60px;height: 60px;float: left;}

#h1{width: 60px;height: 60px;float: left;}
#h2{width: 60px;height: 60px;float: left;}
#h3{width: 60px;height: 60px;float: left;}
#h4{width: 60px;height: 60px;float: left;}
#h5{width: 60px;height: 60px;float: left;}
#h6{width: 60px;height: 60px;float: left;}
#h7{width: 60px;height: 60px;float: left;}
#h8{width: 60px;height: 60px;float: left;}
#h9{width: 60px;height: 60px;float: left;}
#h10{width: 60px;height: 60px;float: left;}
#h11{width: 60px;height: 60px;float: left;}
#h12{width: 60px;height: 60px;float: left;}
#h13{width: 60px;height: 60px;float: left;}
#h14{width: 60px;height: 60px;float: left;}
#h15{width: 60px;height: 60px;float: left;}

#i1{width: 60px;height: 60px;float: left;}
#i2{width: 60px;height: 60px;float: left;}
#i3{width: 60px;height: 60px;float: left;}
#i4{width: 60px;height: 60px;float: left;}
#i5{width: 60px;height: 60px;float: left;}
#i6{width: 60px;height: 60px;float: left;}
#i7{width: 60px;height: 60px;float: left;}
#i8{width: 60px;height: 60px;float: left;}
#i9{width: 60px;height: 60px;float: left;}
#i10{width: 60px;height: 60px;float: left;}
#i11{width: 60px;height: 60px;float: left;}
#i12{width: 60px;height: 60px;float: left;}
#i13{width: 60px;height: 60px;float: left;}
#i14{width: 60px;height: 60px;float: left;}
#i15{width: 60px;height: 60px;float: left;}

#j1{width: 60px;height: 60px;float: left;}
#j2{width: 60px;height: 60px;float: left;}
#j3{width: 60px;height: 60px;float: left;}
#j4{width: 60px;height: 60px;float: left;}
#j5{width: 60px;height: 60px;float: left;}
#j6{width: 60px;height: 60px;float: left;}
#j7{width: 60px;height: 60px;float: left;}
#j8{width: 60px;height: 60px;float: left;}
#j9{width: 60px;height: 60px;float: left;}
#j10{width: 60px;height: 60px;float: left;}
#j11{width: 60px;height: 60px;float: left;}
#j12{width: 60px;height: 60px;float: left;}
#j13{width: 60px;height: 60px;float: left;}
#j14{width: 60px;height: 60px;float: left;}
#j15{width: 60px;height: 60px;float: left;}

#k1{width: 60px;height: 60px;float: left;}
#k2{width: 60px;height: 60px;float: left;}
#k3{width: 60px;height: 60px;float: left;}
#k4{width: 60px;height: 60px;float: left;}
#k5{width: 60px;height: 60px;float: left;}
#k6{width: 60px;height: 60px;float: left;}
#k7{width: 60px;height: 60px;float: left;}
#k8{width: 60px;height: 60px;float: left;}
#k9{width: 60px;height: 60px;float: left;}
#k10{width: 60px;height: 60px;float: left;}
#k11{width: 60px;height: 60px;float: left;}
#k12{width: 60px;height: 60px;float: left;}
#k13{width: 60px;height: 60px;float: left;}
#k14{width: 60px;height: 60px;float: left;}
#k15{width: 60px;height: 60px;float: left;}

#l1{width: 60px;height: 60px;float: left;}
#l2{width: 60px;height: 60px;float: left;}
#l3{width: 60px;height: 60px;float: left;}
#l4{width: 60px;height: 60px;float: left;}
#l5{width: 60px;height: 60px;float: left;}
#l6{width: 60px;height: 60px;float: left;}
#l7{width: 60px;height: 60px;float: left;}
#l8{width: 60px;height: 60px;float: left;}
#l9{width: 60px;height: 60px;float: left;}
#l10{width: 60px;height: 60px;float: left;}
#l11{width: 60px;height: 60px;float: left;}
#l12{width: 60px;height: 60px;float: left;}
#l13{width: 60px;height: 60px;float: left;}
#l14{width: 60px;height: 60px;float: left;}
#l15{width: 60px;height: 60px;float: left;}

#m1{width: 60px;height: 60px;float: left;}
#m2{width: 60px;height: 60px;float: left;}
#m3{width: 60px;height: 60px;float: left;}
#m4{width: 60px;height: 60px;float: left;}
#m5{width: 60px;height: 60px;float: left;}
#m6{width: 60px;height: 60px;float: left;}
#m7{width: 60px;height: 60px;float: left;}
#m8{width: 60px;height: 60px;float: left;}
#m9{width: 60px;height: 60px;float: left;}
#m10{width: 60px;height: 60px;float: left;}
#m11{width: 60px;height: 60px;float: left;}
#m12{width: 60px;height: 60px;float: left;}
#m13{width: 60px;height: 60px;float: left;}
#m14{width: 60px;height: 60px;float: left;}
#m15{width: 60px;height: 60px;float: left;}

#n1{width: 60px;height: 60px;float: left;}
#n2{width: 60px;height: 60px;float: left;}
#n3{width: 60px;height: 60px;float: left;}
#n4{width: 60px;height: 60px;float: left;}
#n5{width: 60px;height: 60px;float: left;}
#n6{width: 60px;height: 60px;float: left;}
#n7{width: 60px;height: 60px;float: left;}
#n8{width: 60px;height: 60px;float: left;}
#n9{width: 60px;height: 60px;float: left;}
#n10{width: 60px;height: 60px;float: left;}
#n11{width: 60px;height: 60px;float: left;}
#n12{width: 60px;height: 60px;float: left;}
#n13{width: 60px;height: 60px;float: left;}
#n14{width: 60px;height: 60px;float: left;}
#n15{width: 60px;height: 60px;float: left;}

#o1{width: 60px;height: 60px;float: left;}
#o2{width: 60px;height: 60px;float: left;}
#o3{width: 60px;height: 60px;float: left;}
#o4{width: 60px;height: 60px;float: left;}
#o5{width: 60px;height: 60px;float: left;}
#o6{width: 60px;height: 60px;float: left;}
#o7{width: 60px;height: 60px;float: left;}
#o8{width: 60px;height: 60px;float: left;}
#o9{width: 60px;height: 60px;float: left;}
#o10{width: 60px;height: 60px;float: left;}
#o11{width: 60px;height: 60px;float: left;}
#o12{width: 60px;height: 60px;float: left;}
#o13{width: 60px;height: 60px;float: left;}
#o14{width: 60px;height: 60px;float: left;}
#o15{width: 60px;height: 60px;float: left;}
